*{
	margin: 0;
	padding: 0px;
}
img{
	width: 80px;
	height: 80px;
	border: 1px solid #999;
}
body{
	padding: 20px;
}
#main{
	border: 1px solid #999;
	background-color: #eee;
	padding: 20px;
	overflow: hidden;
}
#logo{
	width: 200px;
	border: 1px solid #999;
	background-color: white;
	padding: 20px;
	margin-right: 20px;
	float: left;
}
#logo label{
	vertical-align: top;
	margin-left: 20px;
}
#content{
	border: 1px solid #999;
	padding: 20px;
	background-color: white;
	overflow: hidden;
}
#content>article>p{
	padding: 0px 0px 20px 0px;
}
#members{
	padding: 10px;
	border: 1px solid #999;
	background-color: white;
	width: 120px;
	margin-left: 20px;
	float: right;
	text-align: center;
}

#members img{
	margin: 10px;
}
